<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Mensaje de AIVISION</title>
</head>

<body style="font-family: 'Afacad', sans-serif; background-color: #f7f8fa; margin: 0; padding: 0;">

  <div class="container" style="width: 100%; max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <!-- Cabecera -->
    <div class="header" style="background-color: #4A90E2; color: white; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;">
      <h1 style="font-size: 32px; margin: 0; font-weight: bold;">AIVision</h1>
    </div>

    <!-- Cuerpo -->
    <div class="content" style="padding: 20px; color: #4A4A4A;">
      <p style="font-size: 16px; margin: 10px 0;">Hola, has recibido un nuevo mensaje de contacto a través de tu formulario.</p>
      
      <div class="message-box" style="background-color: #f2f7fb; padding: 16px; border-radius: 8px; margin-top: 10px;">
        <h3 style="font-size: 24px; color: #333333;">Detalles del mensaje:</h3>
        <p style="font-size: 16px; margin: 5px 0;"><strong>Nombre:</strong> <%= name %></p>
        <p style="font-size: 16px; margin: 5px 0;"><strong>Correo electrónico:</strong> <%= email %></p>
        <p style="font-size: 16px; margin: 5px 0;"><strong>Mensaje:</strong> <%= message %></p>
      </div>
    </div>

    <!-- Pie de página -->
    <div class="footer" style="background-color: rgb(17, 24, 39); color: white; text-align: center; padding: 10px; border-radius: 0 0 8px 8px;">
      <p style="font-size: 14px; margin: 5px 0;">&copy; 2025 AIVISION - Todos los derechos reservados</p>
      <p style="font-size: 14px; margin: 5px 0;">Visita nuestro sitio web en: <a href="https://aivisiontech.netlify.app/" style="color: #DDF6FF; text-decoration: none;" target="_blank">www.aivision.com</a></p>
    </div>
  </div>

</body>

</html>
